<!DOCTYPE html>
<html>
    <head>
        <title>IPFS Demo</title>
    </head>
    <body>
        <h1>File Uploaded</h1>
        <p>Name: <%= fileName %></p>
        <p> link: <a href=https://192.168.1.97/ipfs/<%= fileHash %><%= fileHash %>"</a></p>
        <!-- <p><link <a href="https://ipfs.io/ipfs/<%= fileName %"><%= fileHash %></a></p> -->
    </body>
</html>